.header {
  padding: 3rem;
  text-align: center;
}

.icon {
  height: 50px;
}
.content {
  display: flex;
  justify-content: center;
}

form {
  flex: 0 0 80%;
  padding: 2rem 2rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  text-align: center;
}

.stats {
  text-align: center;
}

.statsRow {
  display: flex;
  justify-content: center;
}
.statsBox {
  flex: 0 0 25%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  text-align: center;
  margin: 0.5rem;
}
